<%-include("partials/header")-%>
<div class="first-div">
<div class="msg">
  <h2>Stay Home! Stay Safe!</h2>
</div>
<div class="search">
  <form class="form-inline" action="/data" method="post">
    <div class="form-group mx-sm-3 mb-2">
      <input class="form-control" name="countryname" placeholder="Search for a country">
    </div>
    <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-search"></i></button>
  </form>
</div>
</div>
<div class="skills">
  <div class="skill-row">
    <i class="fas fa-home"></i>
    <p>"Stay Home! Stay Safe"</p>
  </div>
  <div class="skill-row">
    <i class="fas fa-user-md"></i>
    <p>"Doctors are true heroes and should be recognized as such"</p>
  </div>
  <div class="skill-row">
    <i class="fas fa-head-side-mask"></i>
    <p>"Do not forget to wear a mask"</p>
  </div>
</div>
</div>
<%-include("partials/footer")-%>
